<%- layout('layouts/boilerplate.ejs') %>

<div class="container">
    <h2>Your Cart</h2>
    <div class="row">
        <% for(let product of products) { %>
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="<%= product.images.length > 0 ? product.images[0].url : 'default-image-url.jpg' %>" class="card-img-top img-fluid" style="height: 5rem; width: 5rem" alt="<%= product.title %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text">
                            <strong>$<%= product.price.toFixed(2) %></strong>
                        </p>
                        <a href="/products/<%= product._id %>" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
